.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.target_grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.sourcebox {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.targetbox {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.targetbox.over {
  border: 3px dotted #666;
}