.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.target_grid_container {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: #ededed;
  padding: 10px;
  width: 50%;
}


.newtargetbox {
  border: 3px dotted #666;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.newtargetbox.over {
  background-color: #c9d400;
}

.sourcebox {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.usedtargetbox {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.usedtargetbox.over {
  border: 3px dotted #666;
}


.deletetargetbox {
  border: 3px dotted #666;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.deletetargetbox.over {
  background-color: #fc0303;
}