{% extends "layout.html" %}
	{% block content %}
	<h1 id='primary_header' align="center">Seldonian Interface GUI</h1>
	<div class="content-section">
		<div class='instructions_container mb-2'>
			<h3 align="center"> Instructions </h3>
			<hr>
			<p class="instructions_paragraph">
				Welcome to the Seldonian Interface GUI. To use this GUI, first complete the "Metadata setup" section below. Select the machine learning regime of your problem. If appropriate, select the sub-regime and type any sensitive attributes (column names) from your dataset that you may want to use in the constraints. Then build your constraints, enter the values for $\delta$, the confidence level, for each constraint and hit "Submit".
			</p>
			<h4 align="left"> Building constraints </h4>
			<p class="instructions_paragraph">
				Build your constraints by dragging boxes from the "Constraint building blocks" section into the constraint areas in the "Behavioral Constraints" section at the bottom of the page. Specifically, drag new blocks into the dotted block where it says "Drop block here to add". Once you release the block, the dropped block should become solid, and a new dotted block area will appear to its right where you can drop new blocks. Dragging a new block onto a solid block that is a math function (e.g. "min()") will result in a composition (see <a href="#block_types">Block types and their uses</a>). Continue dropping blocks until you are satisfied with the constraint string. 
			</p>
			
			<p class="instructions_paragraph">
				For supervised classification problems, we have preconfigured five commonly used fairness constraints:
			</p>
				<ol>
					<li class="instructions_listitem">Disparate impact</li>
					<li class="instructions_listitem">Demographic parity</li>
					<li class="instructions_listitem">Equalized odds</li>
					<li class="instructions_listitem">Equal opportunity</li>
					<li class="instructions_listitem">Predictive equality</li>
				</ol>
			<p class="instructions_paragraph">
				These appear as buttons under the "Preconfigured constraints" sub-section. Clicking one of these buttons will auto-fill that constraint into the last empty constraint. If no constraints are empty, a new constraint will be added and auto-filled. These auto-filled constraints are editable once added to the page.

			</p>
			<p class="instructions_paragraph">
				Each of these constraints represents a different definition of fairness between <b>two sensitive groups</b>. As a result, it requires that at least two attributes are listed in the "sensitive attributes" field of the metadata setup section. If you have fewer than two attributes listed, it will auto-fill the sensitive attributes "M,F" into that field and then use those in the auto-filled constraint string.
			</p>

			<h4 align="left"> Adding, removing, and modifying constraints </h4>
			<p class="instructions_paragraph">
				To add additional constraints, click the blue "Add another constraint" button at the bottom of the "Behavioral Constraints" section. To remove a constraint, click the red "Remove this constraint" button below the constraint. Constraint #1 cannot be removed because at least one constraint is required. However, any constraint can be reset to its original, blank state by clicking the "Reset constraint" button. 
			</p>

			<p class="instructions_paragraph">
				If you want to remove a solid block from a constraint, drag it over to the dotted block area on the right where it says "Drop block here to remove." To rearrange the position of a solid block within a constraint, drag the solid block over another solid block in the same constraint. This will exchange the positions of the two solid blocks. Both removing blocks and swapping blocks work on blocks within a composition as well (see "Block types and their uses").
			</p>

			<h4 align="left" id="block_types"> Block types and their uses </h4>
			<p class='instructions_paragraph'>
				There are four block types: 
				<ol> 
				<li> <p class='instructions_paragraph'> <b>Measure functions</b> - these are special strings, such as "PR" (which stands for "positive rate") that are interpreted as statistical functions in the Seldonian engine. A full list of measure functions and their meanings can be found <a href="https://seldonian-toolkit.github.io/Engine/build/html/_autosummary/seldonian.parse_tree.operators.html#seldonian.parse_tree.operators.measure_functions_dict">here</a>. The available measure functions differ depending on the regime and sub-regime.</p>

				<p class='instructions_paragraph'> When the supervised learning regime is selected, the measure functions will be clickable once dropped into the constraint area. Clicking them will bring up a dropdown menu, allowing you to select one or more sensitive attributes from the list of sensitive attributes you have entered in the metadata setup section (if any). As you select attributes, the text of the block will change accordingly. For example, if you have a sensitive attribute called "Male" and you select it on a measure function called "PR", the block text will read "(PR | [Male])". The interpretation of this block is: calculate the positive rate from datapoints in the dataset where the column "Male" has a value of 1. If no sensitive attribute is selected, then the statistical function will be calculated on the entire dataset. To select multiple attributes for the same measure function, hold the command key while clicking each attribute in the dropdown.  </p> </li>
				<li> <p class='instructions_paragraph'> <b> Mathematical operators </b> - addition (+), subtraction (-), multiplication (*) and division (/) operators are supported. They act as normal blocks and have no additional capabilities. </p>
				</li>
				<li> <p class='instructions_paragraph'> <b> Mathematical functions </b> - the four supported math functions: min, max, abs (absolute value), and exp (base-e exponent) are "composable", i.e. they take other blocks as arguments. To perform a composition, first drag a math function block into the new block area to make it part of the constraint. Then, drag any type of block (including another math function block) from the "Constraint building blocks" area onto the math function block you just created. The outline of the existing block will turn from solid to dotted to indicate when the composition drop can be made. </p>

				<p class='instructions_paragraph'>Continue dragging additional blocks onto the same solid math function block to add to the argument of the function. The min and max blocks must take at least two arguments, whereas abs and exp blocks take a single argument. To add an argument to a min or max block, click on the blue "min" or "max" block text. Any new blocks dragged into the block area will be added to the final argument currently available. All math function blocks are infinitely composable, e.g. "min(max(min(max(abs(..." is supported. Take care when adding blocks to the arguments of nested math function blocks. The border of the block which will be modified by the drop will become dotted when dragged over. </p>
				</li>

				<li> <p class='instructions_paragraph'> <b> Constant</b> - this block is editable so that you can add constant numerical values to your constraints. The block must be edited in the "Constraint building blocks" area before being dragged to a constraint. To add a different constant, simply edit the constant in the building box area and drag to a new box. Once dropped, constants act like normal blocks with no additional capabilities.
				</li>	
				</ol>
			</p>
		</div>
		<hr>
		<div class='instructions_container mb-2'>
			<h3 align="center">Upload your data and metadata files:</h3>
			<hr>
			
		    <form method="POST" action="" enctype="multipart/form-data">
		    	{{ setup_form.csrf_token() }}
				<h5>First, provide your data file in CSV format:</h5>
				<p><input type="file" name="data-file-field" id="data-file-field"></p>
				<h5 class='mt-2'>Next, provide your metadata file in JSON format:</h5>
				<p><input type="file" name="metadata-file-field" id="metadata-file-field"></p>
				<p class="instructions_paragraph">Note: Hitting submit will auto-fill the next section.</p>
				<p><input type="submit" value="Submit" class="btn btn-success"></p>
		    </form>
		    <hr>
		</div>
		<form method="post" onsubmit="submitFunction()" action="javascript:void(0);">
			{{ setup_form.csrf_token() }}

			<h3 align="center"> Metadata overview </h3>

			<div class='metadata_container'>

				<div class="form-group" id="regime-group">
					{{ setup_form.regime.label }}
					{{ setup_form.regime(class="form-control form-control-lg col-sm-5", onchange="regimeChange(this)") }}
				</div>

				<div class="form-group" id="sub-regime-group" style="display: block">
					{{ setup_form.sub_regime.label }}
					{{ setup_form.sub_regime(class="form-control form-control-lg col-sm-5",onchange="subregimeChange(this)") }}
				</div>

				<div class="form-group" id="all_attrs-group"  style="display: block">
					{{ setup_form.all_attributes.label }}
					{{ setup_form.all_attributes(class="form-control form-control-lg col-sm-5") }}
				</div>

				<div class="form-group" id="sensitive_attrs-group" style="display: block">
					{{ setup_form.sensitive_attributes.label }}
					{{ setup_form.sensitive_attributes(class="form-control form-control-lg col-sm-5") }}
				</div>
			</div>

			<hr class='mt-2 mb-2'>
			<h3 id='constraints' align="center">Constraint building blocks: </h3>
			
			<!-- List of base node choices to pick from here -->

			<div class="buildelements" align="center" id="classification_funcs">
				<!-- Show the preconfigured GPA fairness constraints 
				(use javascript to hide/show depending on regime/sub-regime -->
				{% set measure_functions = measure_functions_dict['supervised']['classification'] %}

				<div class="variable_group"> 
					<h6>Preconfigured constraints: </h6>
					<div class="grid_container mb-2" id="preconfigured_constraints">
						<input class='btn btn-info' type="button" id="disparate_impact" value="disparate_impact" onclick="addPreconfiguredConstraint(this)">
						<input class='btn btn-info' type="button" id="demographic_parity" value="demographic_parity" onclick="addPreconfiguredConstraint(this)">
						<input class='btn btn-info' type="button" id="equalized_odds" value="equalized_odds" onclick="addPreconfiguredConstraint(this)">
						<input class='btn btn-info' type="button" id="equal_opportunity" value="equal_opportunity" onclick="addPreconfiguredConstraint(this)">
						<input class='btn btn-info' type="button" id="predictive_equality" value="predictive_equality" onclick="addPreconfiguredConstraint(this)">
						
					</div>
					<h6>Measure functions:</h6>
					<div class='grid_container'>
						{% for ii in range(measure_functions|length) %}
							{% set measure_function = measure_functions[ii] %}
							<div id="{{measure_function}}" draggable="true" class="sourcebox" data-nodetype="measure_function">{{measure_function}}</div>
						{% endfor %}
					</div>

					<h6 class='mt-2'>Mathematical operators:</h6>
					<div class='grid_container'>
						{% for ii in range(math_operators|length) %}
							{% set math_operator = math_operators[ii] %}
							<div id="{{math_operator}}" draggable="true" class="sourcebox" data-nodetype="math_operator">{{math_operator}}</div>
						{% endfor %}
					</div>

					<h6 class='mt-2'>Mathematical functions:</h6>
					<div class='grid_container'>
					{% for ii in range(math_functions|length) %}
						{% set math_function = math_functions[ii] %}
						<div id="{{math_function}}"draggable="true" class="sourcebox" data-nodetype="math_function">{{math_function}}</div>
					{% endfor %}
					</div>

					<h6 class='mt-2'>Constant (editable):</h6>
					<div class='grid_container'>
						<div id="constant" contentEditable="true" draggable="true" class="sourcebox" data-nodetype="constant">1.0</div>
					</div>
				</div>
			</div>

			<div class="buildelements" align="center" id="regression_funcs" style="display: none">
				{% set measure_functions = measure_functions_dict['supervised']['regression'] %}

				<div class="variable_group"> 
					<h5>Measure functions:</h5>
					<div class='grid_container'>
						{% for ii in range(measure_functions|length) %}
							{% set measure_function = measure_functions[ii] %}
							<div id="{{measure_function}}" draggable="true" class="sourcebox" data-nodetype="measure_function">{{measure_function}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-2'>Mathematical operators:</h5>
					<div class='grid_container'>
						{% for ii in range(math_operators|length) %}
							{% set math_operator = math_operators[ii] %}
							<div id="{{math_operator}}" draggable="true" class="sourcebox" data-nodetype="math_operator">{{math_operator}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-2'>Mathematical functions:</h5>
					<div class='grid_container'>
					{% for ii in range(math_functions|length) %}
						{% set math_function = math_functions[ii] %}
						<div id="{{math_function}}"draggable="true" class="sourcebox" data-nodetype="math_function">{{math_function}}</div>
					{% endfor %}
					</div>

					<h5 class='mt-2'>Constant (editable):</h5>
					<div class='grid_container'>
						<div id="constant" contentEditable="true" draggable="true" class="sourcebox" data-nodetype="constant">1.0</div>
					</div>
				</div>
			</div>

			<div class="buildelements" align="center" id="RL_funcs" style="display: none">
				{% set measure_functions = measure_functions_dict['RL']['all'] %}

				<div class="variable_group"> 
					<h5>Measure functions:</h5>
					<div class='grid_container'>
						{% for ii in range(measure_functions|length) %}
							{% set measure_function = measure_functions[ii] %}
							<div id="{{measure_function}}" draggable="true" class="sourcebox" data-nodetype="measure_function">{{measure_function}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-2'>Mathematical operators:</h5>
					<div class='grid_container'>
						{% for ii in range(math_operators|length) %}
							{% set math_operator = math_operators[ii] %}
							<div id="{{math_operator}}" draggable="true" class="sourcebox" data-nodetype="math_operator">{{math_operator}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-2'>Mathematical functions:</h5>
					<div class='grid_container'>
					{% for ii in range(math_functions|length) %}
						{% set math_function = math_functions[ii] %}
						<div id="{{math_function}}"draggable="true" class="sourcebox" data-nodetype="math_function">{{math_function}}</div>
					{% endfor %}
					</div>

					<h5 class='mt-2'>Constant (editable):</h5>
					<div class='grid_container'>
						<div id="constant" contentEditable="true" draggable="true" class="sourcebox" data-nodetype="constant">1.0</div>
					</div>
				</div>
			</div>
			<h3 class='mt-2'>Behavioral Constraints:</h3>
			<hr>
			<div id="constraint1" class="constraint_container">
				<h5 class='mt-2'> Constraint #1:</h5>
				<div class="target_grid_container" id="target_grid_container1">
					<div class="newtargetbox">Drop block here to add</div>
					<div class="newtextnode ml-4" id="">$$ \leq 0 $$</div>
					<div class="deletetargetbox ml-4" id="onlydelete">Drop block here to remove</div>
				</div>
				<div class="mt-2 delta_container form-control form-control-sm">
					<label class="delta_label" for="delta_constraint1">$\delta =$</label>
					<input type="text" id="delta_constraint1"></input>
				</div>
				
				<button type="button" class="btn btn-warning resetconstraint-btn" onclick="resetConstraint(this)">Reset constraint</button>

			</div>

			<button class="mt-2 btn btn-info" type="button" onclick="addConstraintField()">Add another constraint </button>
			
			<div class="form-group" >
				{{ setup_form.submit(class="btn btn-success mt-4") }}
			</div>
		
			<hr>
		</form>

	</div>

<script src="static/js/dragging.js"></script>
<script src="static/js/gui.js"></script>

<script type="text/javascript">

function submitFunction() {

	let csrf_token = "{{ csrf_token() }}";
	let constraintDivs = document.querySelectorAll('.target_grid_container')
	let constraintStrArray = new Array
	constraintDivs.forEach(function(parentDiv) {
		let childnodes = parentDiv.childNodes;
		let constraintStr = ""
		childnodes.forEach(function(child) {
			if ((child.tagName == 'DIV') && (child.classList.contains("usedtargetbox")) ) {
				constraintStr += child.innerText
			}
		});
		if (constraintStr == "") {
			alert("Constraint was empty. Please make a constraint before submitting")
			return
		}
		constraintStr = constraintStr.replace((/  |\r\n|\n|\r/gm),"");
		constraintStrArray.push(constraintStr)
	});
	let formData = $("form :input[name!='csrf_token']").serializeArray()
	console.log(formData)
	console.log(constraintStrArray)
	$.ajax({
			type: 'POST',
			contentType: 'application/json',
			url: '/process_constraints',
			data: JSON.stringify(
				{constraintsData:constraintStrArray,
				 formData:formData}),
			datatype:'json',
			headers: {"X-CSRFToken":csrf_token},
			success: function(results) {
				if (results['success']) {
					console.log("success")
				}
				else {
					alert(results['error_msg'])
				}
				
				// window.location = data;
				// let flash_messages = "{{get_flashed_messages()}}"
				// console.log(flash_messages)

			},
			error: function(results) {
				console.log("There was an error:")
				console.log(results)
			}
	});
	return
} 

</script>

{% endblock content %}