{% extends "layout.html" %}
	{% block content %}
	<h1 id='primary_header' align="center">Seldonian Interface GUI</h1>
	<div class="content-section">
		<div class='instructions_container mb-4'>
			<p class='instructions_paragraph my-1'> Welcome to the Seldonian Interface GUI, a component of the <a href="https://seldonian.cs.umass.edu/">Seldonian Toolkit</a>. The GUI is intended to help you create the specification object that you will need to run Seldonian algorithms using the software in the Seldonian Toolkit. If you are new to the GUI, see the <a href="https://seldonian-toolkit.github.io/GUI">documentation</a> for instructions on how to get started. 
		</div>
		
		<form id="setup_form" method="post" onsubmit="submitFunction()" action="javascript:void(0);" enctype="multipart/form-data">
			{{ setup_form.csrf_token() }}

			<div class='metadata_container'>
				<h3 align="center"> Data and metadata setup </h3>
				<hr>
				<div class="form-group" id="data-file-group">
					{{ setup_form.data_file.label }}
					{{ setup_form.data_file(class="form-control form-control-lg") }}
				</div>

				<div class="form-group" id="regime-group">
					{{ setup_form.regime.label }}
					{{ setup_form.regime(class="form-control form-control-lg", onchange="regimeChange(this)") }}
				</div>

				<div class="form-group" id="sub-regime-group" style="display: block">
					{{ setup_form.sub_regime.label }}
					{{ setup_form.sub_regime(class="form-control form-control-lg",onchange="subregimeChange(this)") }}
				</div>

				<div class="form-group" id="all_attrs-group"  style="display: block">
					{{ setup_form.all_attributes.label }}
					{{ setup_form.all_attributes(class="form-control form-control-lg") }}
				</div>

				<div class="form-group" id="sensitive_attrs-group" style="display: block">
					{{ setup_form.sensitive_attributes.label }}
					{{ setup_form.sensitive_attributes(class="form-control form-control-lg") }}
				</div>

				<div class="form-group" id="label_column-group" style="display: block">
					{{ setup_form.label_column.label }}
					{{ setup_form.label_column(class="form-control form-control-lg") }}
				</div>
			</div>

			<hr class='mt-2 mb-2'>
			
			
			<!-- List of base node choices to pick from here -->
			<h3 id='constraints' align="center">Constraint building blocks: </h3>
			<hr>
			<div class="buildelements" align="center" id="classification_funcs">
				<!-- Show the preconfigured GPA fairness constraints 
				(use javascript to hide/show depending on regime/sub-regime -->
				{% set measure_functions = measure_functions_dict['supervised']['classification'] %}

				<div class="variable_group"> 
					<h6>Preconfigured constraints: </h6>
					<div class="grid_container mb-2" id="preconfigured_constraints">
						<input class='btn btn-info' type="button" id="disparate_impact" value="disparate_impact" onclick="addPreconfiguredConstraint(this)">
						<input class='btn btn-info' type="button" id="demographic_parity" value="demographic_parity" onclick="addPreconfiguredConstraint(this)">
						<input class='btn btn-info' type="button" id="equalized_odds" value="equalized_odds" onclick="addPreconfiguredConstraint(this)">
						<input class='btn btn-info' type="button" id="equal_opportunity" value="equal_opportunity" onclick="addPreconfiguredConstraint(this)">
						<input class='btn btn-info' type="button" id="predictive_equality" value="predictive_equality" onclick="addPreconfiguredConstraint(this)">
						
					</div>
					<h6>Measure functions:</h6>
					<div class='grid_container'>
						{% for ii in range(measure_functions|length) %}
							{% set measure_function = measure_functions[ii] %}
							<div id="{{measure_function}}" draggable="true" class="sourcebox" data-nodetype="measure_function">{{measure_function}}</div>
						{% endfor %}
					</div>

					<h6 class='mt-2'>Mathematical operators:</h6>
					<div class='grid_container'>
						{% for ii in range(math_operators|length) %}
							{% set math_operator = math_operators[ii] %}
							<div id="{{math_operator}}" draggable="true" class="sourcebox" data-nodetype="math_operator">{{math_operator}}</div>
						{% endfor %}
					</div>

					<h6 class='mt-2'>Mathematical functions:</h6>
					<div class='grid_container'>
					{% for ii in range(math_functions|length) %}
						{% set math_function = math_functions[ii] %}
						<div id="{{math_function}}"draggable="true" class="sourcebox" data-nodetype="math_function">{{math_function}}</div>
					{% endfor %}
					</div>

					<h6 class='mt-2'>Constant (editable):</h6>
					<div class='grid_container'>
						<div id="constant" contentEditable="true" draggable="true" class="sourcebox" data-nodetype="constant">1.0</div>
					</div>
				</div>
			</div>

			<div class="buildelements" align="center" id="regression_funcs" style="display: none">
				{% set measure_functions = measure_functions_dict['supervised']['regression'] %}

				<div class="variable_group"> 
					<h5>Measure functions:</h5>
					<div class='grid_container'>
						{% for ii in range(measure_functions|length) %}
							{% set measure_function = measure_functions[ii] %}
							<div id="{{measure_function}}" draggable="true" class="sourcebox" data-nodetype="measure_function">{{measure_function}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-2'>Mathematical operators:</h5>
					<div class='grid_container'>
						{% for ii in range(math_operators|length) %}
							{% set math_operator = math_operators[ii] %}
							<div id="{{math_operator}}" draggable="true" class="sourcebox" data-nodetype="math_operator">{{math_operator}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-2'>Mathematical functions:</h5>
					<div class='grid_container'>
					{% for ii in range(math_functions|length) %}
						{% set math_function = math_functions[ii] %}
						<div id="{{math_function}}"draggable="true" class="sourcebox" data-nodetype="math_function">{{math_function}}</div>
					{% endfor %}
					</div>

					<h5 class='mt-2'>Constant (editable):</h5>
					<div class='grid_container'>
						<div id="constant" contentEditable="true" draggable="true" class="sourcebox" data-nodetype="constant">1.0</div>
					</div>
				</div>
			</div>

			<div class="buildelements" align="center" id="RL_funcs" style="display: none">
				{% set measure_functions = measure_functions_dict['RL']['all'] %}

				<div class="variable_group"> 
					<h5>Measure functions:</h5>
					<div class='grid_container'>
						{% for ii in range(measure_functions|length) %}
							{% set measure_function = measure_functions[ii] %}
							<div id="{{measure_function}}" draggable="true" class="sourcebox" data-nodetype="measure_function">{{measure_function}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-2'>Mathematical operators:</h5>
					<div class='grid_container'>
						{% for ii in range(math_operators|length) %}
							{% set math_operator = math_operators[ii] %}
							<div id="{{math_operator}}" draggable="true" class="sourcebox" data-nodetype="math_operator">{{math_operator}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-2'>Mathematical functions:</h5>
					<div class='grid_container'>
					{% for ii in range(math_functions|length) %}
						{% set math_function = math_functions[ii] %}
						<div id="{{math_function}}"draggable="true" class="sourcebox" data-nodetype="math_function">{{math_function}}</div>
					{% endfor %}
					</div>

					<h5 class='mt-2'>Constant (editable):</h5>
					<div class='grid_container'>
						<div id="constant" contentEditable="true" draggable="true" class="sourcebox" data-nodetype="constant">1.0</div>
					</div>
				</div>
			</div>
			<h3 class='mt-2'>Behavioral Constraints:</h3>
			<hr>
			<div id="constraint1" class="constraint_container">
				<h5 class='mt-2'> Constraint #1:</h5>
				<div class="target_grid_container" id="target_grid_container1">
					<div class="newtargetbox">Drop block here to add</div>
					<div class="newtextnode ml-4" id="">$$ \leq 0 $$</div>
					<div class="deletetargetbox ml-4" id="onlydelete">Drop block here to remove</div>
				</div>
				<div class="mt-2 delta_container form-control form-control-sm">
					<label class="delta_label" for="delta_constraint1">$\delta =$</label>
					<input type="text" id="delta_constraint1"></input>
				</div>
				
				<button type="button" class="btn btn-warning resetconstraint-btn" onclick="resetConstraint(this)">Reset constraint</button>

			</div>

			<button class="mt-2 btn btn-info" type="button" onclick="addConstraintField()">Add another constraint </button>
			
			<div class="form-group" >
				{{ setup_form.submit(class="btn btn-success mt-4") }}
			</div>
		
			<hr>
		</form>

	</div>

<script src="static/javascript/dragging.js"></script>
<script src="static/javascript/gui.js"></script>

<script type="text/javascript">

function submitFunction() {

	let csrf_token = "{{ csrf_token() }}";
	// First check if data input empty
	data_file_input = document.getElementById('data_file')

	let constraintDivs = document.querySelectorAll('.constraint_container')
	let constraintStrArray = new Array
	let DeltaArray = new Array
	var constraintNum = 1;

	constraintDivs.forEach(function(parentDiv) {
		let target_grid_container = parentDiv.querySelector(".target_grid_container")
		let childnodes = target_grid_container.childNodes;

		// Constraint string
		let constraintStr = ""
		
		childnodes.forEach(function(child) {
			if ((child.tagName == 'DIV') && (child.classList.contains("usedtargetbox")) ) {
				constraintStr += child.innerText
			}
		});

		if (constraintStr == "") {
			alert("Constraint#" + constraintNum + " is empty. Fill constraint before submitting")
			return
		}
		constraintStr = constraintStr.replace((/  |\r\n|\n|\r/gm),"");
		constraintStrArray.push(constraintStr)

		// Now delta
		let delta_container = parentDiv.querySelector(".delta_container")

		let delta_input = delta_container.querySelector("input");
		let deltaValue = delta_input.value;
		if (deltaValue == "") {
			alert("Delta for Constraint#" + constraintNum + " is empty. Please fill delta before submitting")
			return
		}
		DeltaArray.push(deltaValue);
		constraintNum+=1;
	
	});
	var form = $('form');
    // you can't pass Jquery form it has to be javascript form object
    var formData = new FormData(form[0]);
    // formData.append('test','somestring');
    formData.append('constraint_strings',JSON.stringify(constraintStrArray))
    formData.append('delta_values',JSON.stringify(DeltaArray))

	$.ajax({
			type: 'POST',
			contentType: 'application/json',
			url: '/process_constraints',
			data: formData,
			contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
		    processData: false, // NEEDED, DON'T OMIT THIS
			datatype:'json',
			headers: {"X-CSRFToken":csrf_token},
			success: function(results) {
				if (results['success']) {
					console.log("success")
					alert(results['msg'])
				}
				else {
					alert(results['error_msg'])
				}
				
			},
			error: function(results) {
				console.log("There was an error:")
				console.log(results)
			}
	});
	return
} 

</script>

{% endblock content %}