{% extends "layout.html" %}
	{% block content %}
	<h1 id='primary_header' align="center">Seldonian Interface GUI</h1>
	<div class="content-section">

		<form method="post" onsubmit="submitFunction()" action="javascript:void(0);">
			{{ setup_form.csrf_token() }}

			<div class="form-group" id="regime">
				{{ setup_form.regime.label }}
				{{ setup_form.regime(class="form-control form-control-lg", onchange="regimeChange(this)") }}
			</div>

			<div class="form-group" id="sub-regime" style="display: block">
				{{ setup_form.sub_regime.label }}
				{{ setup_form.sub_regime(class="form-control form-control-lg",onchange="subregimeChange(this)") }}
			</div>

			<div class="form-group" id="sensitive_attrs" style="display: block">
				{{ setup_form.sensitive_attributes.label }}
				{{ setup_form.sensitive_attributes(class="form-control form-control-lg") }}
			</div>

			<hr class='mt-4 mb-4'>
			<h3 id='constraints' align="center">Build your constraints: </h3>
			<!-- List of base node choices to pick from here -->

			<div class="buildelements" align="center" id="classification_funcs">
				{% set measure_functions = measure_functions_dict['supervised']['classification'] %}

				<div class="variable_group"> 
					<h5>Measure functions:</h5>
					<div class='grid_container'>
						{% for ii in range(measure_functions|length) %}
							{% set measure_function = measure_functions[ii] %}
							<div id="{{measure_function}}" draggable="true" class="sourcebox" data-nodetype="measure_function">{{measure_function}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-4'>Mathematical operators:</h5>
					<div class='grid_container'>
						{% for ii in range(math_operators|length) %}
							{% set math_operator = math_operators[ii] %}
							<div id="{{math_operator}}" draggable="true" class="sourcebox" data-nodetype="math_operator">{{math_operator}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-4'>Mathematical functions:</h5>
					<div class='grid_container'>
					{% for ii in range(math_functions|length) %}
						{% set math_function = math_functions[ii] %}
						<div id="{{math_function}}"draggable="true" class="sourcebox" data-nodetype="math_function">{{math_function}}</div>
					{% endfor %}
					</div>

					<h5 class='mt-4'>Constant (editable):</h5>
					<div class='grid_container'>
						<div id="constant" contentEditable="true" draggable="true" class="sourcebox" data-nodetype="constant">1.0</div>
					</div>
				</div>
			</div>

			
			<h5 class='mt-4'> Constraint #1:</h5>
			<div class="target_grid_container" id="target_grid_container1">
				<div class="newtargetbox">Drag block here to add</div>
				<div class="newtextnode ml-4" id="">$$ \leq 0 $$</div>
				<div class="deletetargetbox ml-4" id="onlydelete">Drag block here to remove</div>
			</div>

			<button class="mt-2 btn btn-info" type="button" onclick="addConstraintField()">Add another constraint </button>
			
			<div class="form-group" >
				{{ setup_form.submit(class="btn btn-success mt-4") }}
			</div>
		<hr>
		</form>

	</div>

<script src="static/js/dragging.js"></script>
<script src="static/js/gui.js"></script>

<script type="text/javascript">

function submitFunction() {

	let csrf_token = "{{ csrf_token() }}";
	let constraintDivs = document.querySelectorAll('.target_grid_container')
	let constraintStrArray = new Array
	constraintDivs.forEach(function(parentDiv) {
		let childnodes = parentDiv.childNodes;
		let constraintStr = ""
		childnodes.forEach(function(child) {
			if ((child.tagName == 'DIV') && (child.classList.contains("usedtargetbox")) ) {
				constraintStr += child.innerText
			}
		});
		if (constraintStr == "") {
			alert("Constraint was empty. Please make a constraint before submitting")
			return
		}
		constraintStr = constraintStr.replace((/  |\r\n|\n|\r/gm),"");
		constraintStrArray.push(constraintStr)
	});
	
	console.log(constraintStrArray)
	$.ajax({
			type: 'POST',
			contentType: 'application/json',
			url: '/process_constraints',
			data: JSON.stringify({data:constraintStrArray}),
			datatype:'json',
			headers: {"X-CSRFToken":csrf_token},
			success: function(results) {
				if (results['success']) {
					console.log("success")
				}
				
				// window.location = data;
				// let flash_messages = "{{get_flashed_messages()}}"
				// console.log(flash_messages)

			},
			error: function(results) {
				console.log("There was an error:")
				console.log(results)
				// let flash_messages = "{{get_flashed_messages()}}"
				// console.log(flash_messages)
				// console.log("Error:",errorObj.responseText);
				// console.log("Error type:",errorType);
				// console.log("Exception:",exception);
			}
	});
	return
} 

</script>

<script src="static/js/flash.min.js"></script>
{% endblock content %}