{% extends "layout.html" %}
	{% block content %}
	<h1 id='primary_header' align="center">Seldonian Interface GUI</h1>
	<div class="content-section">

		<form method="post" onsubmit="submitFunction()" action="javascript:void(0);">
		<!-- <form method="post" action=""> -->
			{{ setup_form.csrf_token() }}

			<div class="form-group" id="regime">
				{{ setup_form.regime.label }}
				{{ setup_form.regime(class="form-control form-control-lg", onchange="regimeChange(this)") }}
			</div>

			<div class="form-group" id="sub-regime" style="display: block">
				{{ setup_form.sub_regime.label }}
				{{ setup_form.sub_regime(class="form-control form-control-lg",onchange="subregimeChange(this)") }}
			</div>

			<div class="form-group" id="sensitive_attrs" style="display: block">
				{{ setup_form.sensitive_attributes.label }}
				{{ setup_form.sensitive_attributes(class="form-control form-control-lg") }}
			</div>

			<hr class='mt-4 mb-4'>
			<h3 id='constraints' align="center">Build your constraints: </h3>
			<!-- List of base node choices to pick from here -->

			<div class="container" align="center" id="classification_funcs">
				{% set measure_functions = measure_functions_dict['supervised']['classification'] %}

				<div class="variable_group"> 
					<h5>Measure functions:</h5>
					<div class='grid_container'>
						{% for ii in range(measure_functions|length) %}
							{% set measure_function = measure_functions[ii] %}
							<div draggable="true" class="sourcebox" data-nodetype="measure_function">{{measure_function}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-4'>Mathematical operators:</h5>
					<div class='grid_container'>
						{% for ii in range(math_operators|length) %}
							{% set math_operator = math_operators[ii] %}
							<div draggable="true" class="sourcebox" data-nodetype="math_operator">{{math_operator}}</div>
						{% endfor %}
					</div>

					<h5 class='mt-4'>Mathematical functions:</h5>
					<div class='grid_container'>
					{% for ii in range(math_functions|length) %}
						{% set math_function = math_functions[ii] %}
						<div draggable="true" class="sourcebox" data-nodetype="math_function">{{math_function}}</div>
					{% endfor %}
					</div>

					<h5 class='mt-4'>Constant (editable):</h5>
					<div class='grid_container'>
						<div contentEditable="true" draggable="true" class="sourcebox" data-nodetype="constant">1.0</div>
					</div>
				</div>
			</div>

			
			<h3 class='mt-4'> Drag blocks here:</h3>
			<div class="target_grid_container" id="target_grid_container">
				<div class="newtargetbox" id="onlynew">
					Drag block here to add
					<!-- <div class="dropdown">
						<button type="button" onclick="editNode()" class="dropbtn edit-btn">Dropdown</button>
						<select multiple="true" id="myDropdown" class="dropdown-content">
							<option class='dropdown-option' value="apple">Apple</option>
							<option class='dropdown-option' value="banana">Banana</option>
							<option class='dropdown-option' value="mango">Mango</option>
							<option class='dropdown-option' value="grape">Grape</option>
							<option class='dropdown-option' value="watermelon">watermelon</option>
						</select>
					</div> -->
				
				</div>
				<div class="deletetargetbox" id="onlydelete">
					Drag block here to remove
				</div>
			
			</div>
			
			<div class="form-group" >
				{{ setup_form.submit(class="btn btn-success mt-4") }}
			</div>
		<hr>
		</form>

	</div>

<script src="static/js/gui.js"></script>

<script src="static/js/dragging.js"></script>
 
<script type="text/javascript">

function submitFunction() {

	let csrf_token = "{{ csrf_token() }}";
	let parentDiv = document.getElementById('target_grid_container')
	let childnodes = parentDiv.childNodes;

	let constraintStr = ""
	childnodes.forEach(function(child) {
		if ((child.tagName == 'DIV') && (child.classList.contains("usedtargetbox")) ) {
			constraintStr += child.innerText
		}
	});
	console.log(constraintStr)
	$.ajax({
			type: 'POST',
			contentType: 'application/json',
			url: '/process_constraints',
			data: JSON.stringify({data:constraintStr}),
			datatype:'json',
			headers: {"X-CSRFToken":csrf_token},
			success: function(data) {
				// window.location = data;
				console.log("success")
			},
			error: function() {
				alert("Oops! Something went wrong.");
			}
	});
} 

</script>


{% endblock content %}